<h1>About Us</h1>
<p>We are working on our sample app for DAB</p>
</div>
<p>Sign up <a href="http://wwww.facebook.com">here</a></p>
</div>
<p>Or Try  <%= link_to "This", "http://www.google.com" %>.</p>